/* พื้นหลังน้ำเงินเข้มแบบหรู */
.bgMu {
    background: linear-gradient(to right, rgb(11, 65, 146), #00195b);
    color: #f7c948;
}

/* หัวข้อหลัก */
.muHeading {
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.detailHeading {
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    color: #f7c948;
    margin-bottom: 2.5rem;

}


/* การ์ดแนวมู */
.muCard {
    background: linear-gradient(145deg, #1c2b3a, #1c236e);
    border-radius: 1.5rem;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    box-shadow: 0 4px 12px rgba(255, 223, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid #f7c948;
}

.muCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(255, 223, 0, 0.35);
}

/* ไอคอนแบบพรีเมียม */
.muIcon {
    margin-right: 1.2rem;
    border-radius: 12px;
    background-color: #160c29;
    padding: 12px;
    /* เพิ่ม padding */

}

/* ข้อความรอง */
.muSubtext {
    color: #f7c948;
    font-size: 0.95rem;
    opacity: 0.9;
}